@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
/* @plugin "daisyui"; */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('path_to_font/HelveticaNeue.woff2') format('woff2'),
       url('path_to_font/HelveticaNeue.woff') format('woff'),
       url('path_to_font/HelveticaNeue.ttf') format('truetype');
}
body{
  overflow-x: hidden;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.halvetica {
  font-family: 'Helvetica Neue', sans-serif;
}
.container{
  max-width: 1220px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media (max-width:600px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.active{
  color: #009688;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
}
.inter{
  font-family: "Inter", sans-serif;
}
.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
}
.list-item{
  position: relative;
  padding-left: 20px;
}
.list-item::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #152032;
}
@media (max-width:500px) {
 .list-item::before{
  top: 8px;
  width: 8px;
  height: 8px;
 } 
}
.paymenttitle{
  position: relative;
}
.paymenttitle::after{
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #009688;
  border-radius: 50%;
  left: -20px; 
  top: 10px;
}
.profileBgcolor{
  background: #10a3de;
  background: linear-gradient(90deg,rgba(16, 163, 222, 1) 0%, rgba(87, 199, 133, 1) 100%);
}

